In [23]:
import pandas as pd

In [17]:
def get_game_number(game_line):
    game_line = game_line.replace('Game ','')
    game_line = game_line.replace(':','')
    game_number = int(game_line)
    return game_number

def find_color(color,cube_line):
    all_of_that_color = []
    for cube in cube_line:
        number_of_that_color = ''
        if color in cube:
            cube.replace(color,'')
            for x in cube:
                if x.isnumeric():
                    number_of_that_color+=x
        if number_of_that_color!='':
            all_of_that_color.append(int(number_of_that_color))
    return all_of_that_color

In [21]:
h = open('input.txt','r')
games = []
for line in h:
    split_line = line.split(':')
    game_side = split_line[0]
    game_number = get_game_number(game_side)
    cube_line = split_line[1]
    cube_list = cube_line.split(';')
    all_cube_list = []
    for x in cube_list:
        one_game = x.split(',')
        all_cube_list+=one_game
    reds = find_color('red',all_cube_list)
    greens = find_color('green',all_cube_list)   
    blues = find_color('blue',all_cube_list)
    games.append({'id':game_number,'reds':reds,'blues':blues,'greens':greens})

In [24]:
games_df = pd.DataFrame(games)

In [25]:
games_df

     id                    reds                  blues               greens
0     1    [18, 15, 17, 11, 18]    [7, 4, 6, 1, 14, 8]      [8, 1, 2, 5, 1]
1     2               [3, 2, 3]           [16, 13, 16]          [12, 8, 15]
2     3              [15, 4, 7]                 [7, 9]            [6, 1, 8]
3     4          [8, 11, 12, 9]        [2, 5, 5, 1, 2]               [1, 1]
4     5         [3, 4, 5, 6, 6]  [9, 17, 15, 3, 4, 10]  [12, 3, 2, 5, 7, 3]
..  ...                     ...                    ...                  ...
95   96  [12, 10, 14, 15, 3, 1]              [6, 1, 5]         [3, 2, 7, 3]
96   97               [3, 3, 4]                    [1]            [1, 1, 1]
97   98          [4, 2, 11, 11]       [6, 6, 2, 4, 11]     [5, 9, 14, 6, 8]
98   99               [3, 2, 3]    [20, 12, 12, 7, 10]            [2, 3, 2]
99  100       [12, 13, 2, 7, 5]                 [2, 1]     [8, 2, 4, 2, 10]

[100 rows x 4 columns]

In [37]:
MAX_RED = 12
MAX_GREEN = 13
MAX_BLUE = 14

In [31]:
def find_max(list_of_things):
    return max(list_of_things)

In [34]:
games_df['max_reds']=games_df['reds'].apply(find_max)
games_df['max_blues']=games_df['blues'].apply(find_max)
games_df['max_greens']=games_df['greens'].apply(find_max)

In [40]:
possible_games = games_df.query('max_reds<=@MAX_RED and max_blues<=@MAX_BLUE and max_greens<=@MAX_GREEN').id.values

In [41]:
possible_games.sum()

2331

# Part 2

In [43]:
games_df['power']=games_df['max_reds']*games_df['max_blues']*games_df['max_greens']

In [44]:
games_df.head()

,id,reds,blues,greens,max_reds,max_blues,max_greens,power
0,1,"[18, 15, 17, 11, 18]","[7, 4, 6, 1, 14, 8]","[8, 1, 2, 5, 1]",18,14,8,2016
1,2,"[3, 2, 3]","[16, 13, 16]","[12, 8, 15]",3,16,15,720
2,3,"[15, 4, 7]","[7, 9]","[6, 1, 8]",15,9,8,1080
3,4,"[8, 11, 12, 9]","[2, 5, 5, 1, 2]","[1, 1]",12,5,1,60
4,5,"[3, 4, 5, 6, 6]","[9, 17, 15, 3, 4, 10]","[12, 3, 2, 5, 7, 3]",6,17,12,1224

In [45]:
games_df.power.sum()

71585