In [1]:
import pandas as pd

In [2]:
def split_line(line):
    inputs_and_outputs = line.split('|')
    return inputs_and_outputs

def find_inputs(inputs_and_outputs):
    inputs = inputs_and_outputs[0].split(' ')
    inputs = [int(x) for x in inputs if (not x.startswith('Card') and not x.endswith(':') and x!='')]
    return inputs

def find_outputs(inputs_and_outputs):
    outputs = inputs_and_outputs[1].split(' ')
    outputs = [int(x) for x in outputs if  x!='']
    return outputs

def check_outputs(inputs,outputs):
    good_outputs = []
    for output in outputs:
        if output in inputs:
            good_outputs.append(output)
    return good_outputs

def calculate_points(winning_numbers):
    number_of_winners = len(winning_numbers)
    if number_of_winners==0:
        points = 0
    else:
        points = 2**(number_of_winners - 1)
    return points

In [3]:
df = pd.read_csv('input.txt',header=None)
df.columns = ['raw']
df.head()

                                                 raw
0  Card   1: 57 76 72 11  8 28 15 38 54 46 | 77 8...
1  Card   2: 44 69 14 83 54 48 21  6 20 26 | 80 2...
2  Card   3: 15 60 63 84 20 93 36 39 17 19 | 68 8...
3  Card   4: 22 74 83 58 88 46  7 52 84  5 | 75 2...
4  Card   5:  4 97 41 50 32 26 68 84  5 11 | 91 7...

In [4]:
df['split_lines'] = df['raw'].apply(split_line)
df['input_numbers'] = df['split_lines'].apply(find_inputs)
df['output_numbers'] = df['split_lines'].apply(find_outputs)
df['good_outputs'] = df.apply(lambda x: check_outputs(x.input_numbers, x.output_numbers), axis=1)
df['points'] = df['good_outputs'].apply(calculate_points)
df.head()

,raw,split_lines,input_numbers,output_numbers,good_outputs,points
0,Card 1: 57 76 72 11 8 28 15 38 54 46 | 77 8...,"[Card 1: 57 76 72 11 8 28 15 38 54 46 , 77...","[57, 76, 72, 11, 8, 28, 15, 38, 54, 46]","[77, 87, 71, 98, 40, 7, 84, 43, 61, 64, 5, 50,...",[],0
1,Card 2: 44 69 14 83 54 48 21 6 20 26 | 80 2...,"[Card 2: 44 69 14 83 54 48 21 6 20 26 , 80...","[44, 69, 14, 83, 54, 48, 21, 6, 20, 26]","[80, 26, 86, 3, 9, 4, 62, 34, 15, 87, 60, 88, ...",[26],1
2,Card 3: 15 60 63 84 20 93 36 39 17 19 | 68 8...,"[Card 3: 15 60 63 84 20 93 36 39 17 19 , 68...","[15, 60, 63, 84, 20, 93, 36, 39, 17, 19]","[68, 80, 17, 91, 20, 84, 69, 72, 15, 39, 5, 61...","[17, 20, 84, 15, 39, 60, 19, 36, 63, 93]",512
3,Card 4: 22 74 83 58 88 46 7 52 84 5 | 75 2...,"[Card 4: 22 74 83 58 88 46 7 52 84 5 , 75...","[22, 74, 83, 58, 88, 46, 7, 52, 84, 5]","[75, 20, 95, 8, 37, 56, 31, 42, 73, 43, 40, 48...","[46, 7]",2
4,Card 5: 4 97 41 50 32 26 68 84 5 11 | 91 7...,"[Card 5: 4 97 41 50 32 26 68 84 5 11 , 91...","[4, 97, 41, 50, 32, 26, 68, 84, 5, 11]","[91, 70, 87, 4, 88, 13, 48, 51, 32, 34, 38, 82...","[4, 32, 11, 50, 5, 84, 41]",64

In [5]:
sum(df.points.values)

24160

# Part 2

In [6]:
copies_of_cards = {}

for x in df.index:
    num_winners = len(df['good_outputs'][x])
    times_extra_copies = 1
    if x in copies_of_cards:
        times_extra_copies += copies_of_cards[x]

    extra_cards = list(range(x+1,x+num_winners+1)) 
    for card_idx in extra_cards:
        if card_idx in copies_of_cards:
            copies_of_cards[card_idx]+=1 * times_extra_copies
        else:
            copies_of_cards[card_idx]=1 * times_extra_copies

In [7]:
copies_col = []
for x in df.index:
    if x in copies_of_cards:
        copies_col.append(copies_of_cards[x])
    else:
        copies_col.append(0)

df['extra_copies'] = copies_col
df.head()

,raw,split_lines,input_numbers,output_numbers,good_outputs,points,extra_copies
0,Card 1: 57 76 72 11 8 28 15 38 54 46 | 77 8...,"[Card 1: 57 76 72 11 8 28 15 38 54 46 , 77...","[57, 76, 72, 11, 8, 28, 15, 38, 54, 46]","[77, 87, 71, 98, 40, 7, 84, 43, 61, 64, 5, 50,...",[],0,0
1,Card 2: 44 69 14 83 54 48 21 6 20 26 | 80 2...,"[Card 2: 44 69 14 83 54 48 21 6 20 26 , 80...","[44, 69, 14, 83, 54, 48, 21, 6, 20, 26]","[80, 26, 86, 3, 9, 4, 62, 34, 15, 87, 60, 88, ...",[26],1,0
2,Card 3: 15 60 63 84 20 93 36 39 17 19 | 68 8...,"[Card 3: 15 60 63 84 20 93 36 39 17 19 , 68...","[15, 60, 63, 84, 20, 93, 36, 39, 17, 19]","[68, 80, 17, 91, 20, 84, 69, 72, 15, 39, 5, 61...","[17, 20, 84, 15, 39, 60, 19, 36, 63, 93]",512,1
3,Card 4: 22 74 83 58 88 46 7 52 84 5 | 75 2...,"[Card 4: 22 74 83 58 88 46 7 52 84 5 , 75...","[22, 74, 83, 58, 88, 46, 7, 52, 84, 5]","[75, 20, 95, 8, 37, 56, 31, 42, 73, 43, 40, 48...","[46, 7]",2,2
4,Card 5: 4 97 41 50 32 26 68 84 5 11 | 91 7...,"[Card 5: 4 97 41 50 32 26 68 84 5 11 , 91...","[4, 97, 41, 50, 32, 26, 68, 84, 5, 11]","[91, 70, 87, 4, 88, 13, 48, 51, 32, 34, 38, 82...","[4, 32, 11, 50, 5, 84, 41]",64,5

In [8]:
df['total_copies'] = df['extra_copies']+1
df.head()

,raw,split_lines,input_numbers,output_numbers,good_outputs,points,extra_copies,total_copies
0,Card 1: 57 76 72 11 8 28 15 38 54 46 | 77 8...,"[Card 1: 57 76 72 11 8 28 15 38 54 46 , 77...","[57, 76, 72, 11, 8, 28, 15, 38, 54, 46]","[77, 87, 71, 98, 40, 7, 84, 43, 61, 64, 5, 50,...",[],0,0,1
1,Card 2: 44 69 14 83 54 48 21 6 20 26 | 80 2...,"[Card 2: 44 69 14 83 54 48 21 6 20 26 , 80...","[44, 69, 14, 83, 54, 48, 21, 6, 20, 26]","[80, 26, 86, 3, 9, 4, 62, 34, 15, 87, 60, 88, ...",[26],1,0,1
2,Card 3: 15 60 63 84 20 93 36 39 17 19 | 68 8...,"[Card 3: 15 60 63 84 20 93 36 39 17 19 , 68...","[15, 60, 63, 84, 20, 93, 36, 39, 17, 19]","[68, 80, 17, 91, 20, 84, 69, 72, 15, 39, 5, 61...","[17, 20, 84, 15, 39, 60, 19, 36, 63, 93]",512,1,2
3,Card 4: 22 74 83 58 88 46 7 52 84 5 | 75 2...,"[Card 4: 22 74 83 58 88 46 7 52 84 5 , 75...","[22, 74, 83, 58, 88, 46, 7, 52, 84, 5]","[75, 20, 95, 8, 37, 56, 31, 42, 73, 43, 40, 48...","[46, 7]",2,2,3
4,Card 5: 4 97 41 50 32 26 68 84 5 11 | 91 7...,"[Card 5: 4 97 41 50 32 26 68 84 5 11 , 91...","[4, 97, 41, 50, 32, 26, 68, 84, 5, 11]","[91, 70, 87, 4, 88, 13, 48, 51, 32, 34, 38, 82...","[4, 32, 11, 50, 5, 84, 41]",64,5,6

In [9]:
df['total_points']=df['points']*df['total_copies']

In [10]:
df.head()

,raw,split_lines,input_numbers,output_numbers,good_outputs,points,extra_copies,total_copies,total_points
0,Card 1: 57 76 72 11 8 28 15 38 54 46 | 77 8...,"[Card 1: 57 76 72 11 8 28 15 38 54 46 , 77...","[57, 76, 72, 11, 8, 28, 15, 38, 54, 46]","[77, 87, 71, 98, 40, 7, 84, 43, 61, 64, 5, 50,...",[],0,0,1,0
1,Card 2: 44 69 14 83 54 48 21 6 20 26 | 80 2...,"[Card 2: 44 69 14 83 54 48 21 6 20 26 , 80...","[44, 69, 14, 83, 54, 48, 21, 6, 20, 26]","[80, 26, 86, 3, 9, 4, 62, 34, 15, 87, 60, 88, ...",[26],1,0,1,1
2,Card 3: 15 60 63 84 20 93 36 39 17 19 | 68 8...,"[Card 3: 15 60 63 84 20 93 36 39 17 19 , 68...","[15, 60, 63, 84, 20, 93, 36, 39, 17, 19]","[68, 80, 17, 91, 20, 84, 69, 72, 15, 39, 5, 61...","[17, 20, 84, 15, 39, 60, 19, 36, 63, 93]",512,1,2,1024
3,Card 4: 22 74 83 58 88 46 7 52 84 5 | 75 2...,"[Card 4: 22 74 83 58 88 46 7 52 84 5 , 75...","[22, 74, 83, 58, 88, 46, 7, 52, 84, 5]","[75, 20, 95, 8, 37, 56, 31, 42, 73, 43, 40, 48...","[46, 7]",2,2,3,6
4,Card 5: 4 97 41 50 32 26 68 84 5 11 | 91 7...,"[Card 5: 4 97 41 50 32 26 68 84 5 11 , 91...","[4, 97, 41, 50, 32, 26, 68, 84, 5, 11]","[91, 70, 87, 4, 88, 13, 48, 51, 32, 34, 38, 82...","[4, 32, 11, 50, 5, 84, 41]",64,5,6,384

In [11]:
sum(df.total_copies.values)

5659035