In [62]:
import numpy as np

In [80]:
h = open('input.txt','r')
universe=[]
for line in h:
    current_line = []
    for character in line:
        if character!='\n':
            current_line.append(character)
    universe.append(current_line)
universe = np.array(universe)

In [81]:
universe.shape

(140, 140)

In [82]:
def test_a_row(row_num):
    row = universe[row_num]
    all_space = True
    for x in row:
        if x!='.':
            all_space=False
    return all_space

def test_a_column(col_num):
    all_space = True
    for row in range(universe.shape[1]):
        if universe[row][col_num] != '.':
            all_space = False
    return all_space

In [83]:
rows_to_expand = []
cols_to_expand = []
for row_num in range(universe.shape[0]):
    if test_a_row(row_num):
        rows_to_expand.append(row_num)

for col_num in range(universe.shape[1]):
    if test_a_column(col_num):
        cols_to_expand.append(col_num)

In [84]:
rows_to_expand

[3, 27, 49, 70, 71, 104]

In [85]:
cols_to_expand

[40, 52, 58]

In [86]:
expanded_universe_rows = []
for row_num in range(universe.shape[0]):
    row = universe[row_num]
    expanded_universe_rows.append(row)
    if row_num in rows_to_expand:
        expanded_universe_rows.append(row)
expanded_universe_rows = np.array(expanded_universe_rows)

expanded_universe = []
for row_num in range(expanded_universe_rows.shape[0]):
    expanded_row = []
    old_row = expanded_universe_rows[row_num]
    for i in range(len(old_row)):
        thing = old_row[i]
        expanded_row.append(thing)
        if i in cols_to_expand:
            expanded_row.append(thing)
    expanded_universe.append(expanded_row)
expanded_universe = np.array(expanded_universe)

In [87]:
expanded_universe.shape

(146, 143)

In [88]:
galaxies = np.where(expanded_universe == '#')

In [89]:
galaxies[0][0], galaxies[1][0]

(0, 90)

In [90]:
points = []
for i in range(len(galaxies[0])):
    row = galaxies[0][i]
    col = galaxies[1][i]
    points.append((row,col))

In [74]:
expanded_universe[points[0]]

'#'

In [75]:
def distance(point1,point2):
    delta_y = abs(point2[1]-point1[1])
    delta_x = abs(point2[0]-point1[0])
    return delta_x+delta_y

In [76]:
all_distances = 0
for point1 in points:
    for point2 in points:
        if point1!=point2:
            all_distances+=distance(point1,point2)
all_distances

20980124

In [77]:
int(all_distances/2)

10490062

In [17]:
# part 2
from tqdm import tqdm

expansion_factor = 1000000

expanded_universe_rows = []
for row_num in tqdm(range(universe.shape[0])):
    row = universe[row_num]
    expanded_universe_rows.append(row)
    if row_num in rows_to_expand:
        i=0
        while i<expansion_factor:
            expanded_universe_rows.append(row)
            i+=1
expanded_universe_rows = np.array(expanded_universe_rows)

100%|██████████| 140/140 [00:00<00:00, 246.86it/s]

In [18]:
transposed_universe = expanded_universe_rows.transpose()

In [19]:
expanded_universe_rows.shape

(6000140, 140)

In [20]:
transposed_universe.shape

(140, 6000140)

In [21]:
expanded_universe = []
for row_num in tqdm(range(transposed_universe.shape[0])):
    row = transposed_universe[row_num]
    expanded_universe.append(row)
    if row_num in cols_to_expand:
        print(row_num)
        for i in tqdm(range(expansion_factor-1)):
            expanded_universe.append(row)
print('done with loop')

  0%|          | 0/140 [00:00<?, ?it/s]

40

100%|██████████| 999999/999999 [00:00<00:00, 5345985.45it/s]
 29%|██▉       | 41/140 [00:00<00:00, 217.37it/s]

52

100%|██████████| 999999/999999 [00:00<00:00, 6301115.62it/s]

58

100%|██████████| 999999/999999 [00:00<00:00, 6375711.11it/s]
100%|██████████| 140/140 [00:00<00:00, 275.51it/s]

done with loop

In [22]:
len(expanded_universe), len(expanded_universe[0])

(3000137, 6000140)

In [ ]:
np_expanded_universe = np.array(expanded_universe)

In [91]:
galaxies = np.where(universe == '#')

starting_points = []
for i in range(len(galaxies[0])):
    row = galaxies[0][i]
    col = galaxies[1][i]
    starting_points.append((row,col))

In [95]:
rows_to_expand

[3, 27, 49, 70, 71, 104]

In [96]:
cols_to_expand

[40, 52, 58]

In [130]:
expansion_factor = 1000000

new_points = []
for point in starting_points:
    row_idx = point[0]
    col_idx = point[1]
    
    num_expansion_rows = 0
    for row in rows_to_expand:
        if row <= row_idx:
            num_expansion_rows += 1
    
    row_idx = row_idx + (expansion_factor-1)*num_expansion_rows

    num_expansion_cols = 0
    for col in cols_to_expand:
        if col <= col_idx:
            num_expansion_cols += 1
    
    col_idx = col_idx + (expansion_factor-1)*num_expansion_cols

    new_points.append((row_idx,col_idx))

In [132]:
all_distances = 0
for point1 in new_points:
    for point2 in new_points:
        #if point1!=point2:
        dist = distance(point1,point2)
        all_distances+=dist
int(all_distances/2)

382979724122

In [ ]:
10490062